@-webkit-keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@media (max-width: 1730px) {
  .header .logo {
    margin-right: 40%;
  }
}


@media (max-width: 1590px) {
  .header .logo {
    margin-right: 35%;
  }
}

@media (max-width: 1501px) {
  .header .logo {
    margin-right: 30%;
  }

  .rusunku .box .content {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 1385px) {
  .header .logo {
    margin-right: 20%;
  }

  .rusunku .box .content {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }

  .header .logo {
    margin-right: 10%;
  }

  section {
    padding: 3rem 5%;
  }

  .rusunku .box .content {
    margin-left: 15%;
    margin-right: 15%;
  }

  .home .slide {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .home .slide .content {
    text-align: center;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }

  .header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header #menu-btn {
    display: inline-block;
  }

  .header #portal-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }

  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    display: block;
    margin: 2rem;
  }

  .header .navbar-portal {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: .2s linear;
    transition: .2s linear;
  }

  .header .navbar-portal.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar-portal a {
    display: block;
    margin: 2rem;
  }

  .rusunku .box-container {
    display: inline;
  }

  .rusunku .container {
    margin-left: 20%;
    margin-top: 20%;
    width: 60%;
  }

  .rusunku .box .content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 768px) {
  .home .slide {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .home .slide .content {
    text-align: center;
  }

  .home .slide .content h3 {
    font-size: 6rem;
  }

  .home .slide .content h4 {
    font-size: 4rem;
  }

  .home .swiper-button-next:hover,
  .home .swiper-button-prev:hover {
    background: none;
  }

  .rusunku .box .content {
    margin-left: 20%;
    margin-right: 5%;
    width: 60%;
  }

  .guide .rule .list {
    font-size: 1.5rem;
  }

  .guide .rule .semi-bold {
    font-size: 1.5rem;
  }

  .nav-rule .btn-rule {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  .nav-rule .btn-cancel {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .form-input .login-form {
    width: 45rem;
  }

  select {
    font-size: 1.5rem;
  }

  input[type='text'] {
    font-size: 1.5rem;
  }

}

@media (max-width: 640px) {
  .form-output .form {
    padding: 3rem;
    width: 40rem;
  }

  .form-output .form h3 {
    font-size: 2rem;
  }

  .form-output .form h4 {
    font-size: 1.5rem;
  }

  .home .slide .content h3 {
    font-size: 4rem;
  }

  .home .slide .content h4 {
    font-size: 2.5rem;
  }

  select {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 2rem;
  }

  .home .slide .content h3 {
    font-size: 3.5rem;
  }

  .home .slide .content h4 {
    font-size: 2.5rem;
  }

  .about .row .content h3 {
    font-size: 1.8rem;
  }

  .form-input .login-form {
    width: 90%;
  }

  .num-rule {
    padding: 1rem 1rem;
    display: inline-block;
    font-size: 1.4rem;
  }

  .rusunku .box .content {
    margin-left: 20%;
    margin-right: 5%;
    width: 60%;
  }

  .form-input .btn {
    padding: 1rem 3rem;
    font-size: 1.3rem;
  }

  .form-input .single-item {
    display: inline-block;
  }

  .form-input .single-item input {
    width: calc(100%);
  }
}

@media (max-width: 380px) {
  .home .swiper-button-next {
    top: 55%;
    height: 5rem;
    width: 5rem;
  }

  .home .swiper-button-prev {
    top: 55%;
    height: 5rem;
    width: 5rem;
  }

  .num-rule {
    padding: 1rem 1rem;
    display: inline-block;
    font-size: 1.4rem;
    margin-bottom: 5px;
    margin-right: 10px;
  }

  /* .nav-rule .btn-rule {
    padding: 1rem 3rem;
    font-size: 1rem;
    margin-bottom: 5px;
  } */

  .form-input .btn {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }

  .form-output .form {
    padding: 3rem;
    width: 30rem;
  }

  .rusunku .box .content {
    margin-left: 15%;
    width: 70%;
  }

}

@media (max-width: 360px) {
  .nav-rule .btn-rule {
    padding: 1rem 2rem;
  }
}

@media (max-width: 302px) {
  .num-rule {
    display: inline-block;
    margin-right: 10px;
    font-size: 0.8rem;
  }

  .nav-rule .btn-rule {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .nav-rule .btn-cancel {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .form-input form {
    width: 100%;
    padding: 5px;
    border-radius: 6px;
  }

  .guide .rule .list {
    font-size: 1rem;
  }

  .rusunku .box .content .btn {
    font-size: 1rem;
  }

}