@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --red: #f15025;
  --black: #191919;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  --border: .1rem solid rgba(0, 0, 0, .3);

  /* Button Color */
  --btn-primary: #f15025;
  --btn-primary-hov: #e73908;
  --btn-success: #238823;
  --btn-success-hov: #1ec21e;
  --btn-danger: #000;
  --btn-warning: #1976d2;
  --btn-warning-hov: #2196f3;
}

@page {
  size: auto;
  margin: 0;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--red);
}

section {
  padding: 5rem 10%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='text'] {
  font-size: 2rem;
}

input[type='date'] {
  font-size: 2rem;
}

input[type='password'] {
  font-size: 2rem;
}

input:disabled {
  color: #808080;
}

input[type="datetime-local"] {
  font-size: 2rem;
  font-weight: 500;
}

select {
  font-size: 2rem;
}

select[readonly] {
  background: #eee;
  pointer-events: none;
  touch-action: none;
  color: #808080;
}

option :disabled {
  background-color: var(--light-color);
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--red);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--btn-primary);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: 500;
  border-radius: 5px;
}

.btn:hover {
  background: var(--btn-primary-hov);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  padding: 1.5rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  z-index: 1000;
  background: var(--white);
}

.header .logo {
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  margin-right: 45%;
}

.header .logo span {
  color: var(--red);
}

.header .navbar a {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  font-weight: 550;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--red);
}

.header .navbar-portal a {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  font-weight: 550;
  margin: 0 1rem;
}

.header .navbar-portal a:hover {
  color: var(--red);
}

.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: .3rem;
}

.header .icons div:hover {
  background: var(--black);
  color: var(--white);
}

.header #portal-btn {
  display: none;
}

.header #menu-btn {
  display: none;
}

.tab {
  display: none;
}

.skip {
  display: none;
}

.home {
  padding: 0;
}

.home .slide {
  min-height: 83rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(var(--white)), to(transparent));
  background: linear-gradient(90deg, var(--white), transparent);
}

.home .slide .content {
  width: 120rem;
  position: relative;
}

.home .slide .content h3 {
  font-size: 8rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
}

.home .slide .content h4 {
  font-size: 6rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
}

.home .slide .content p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
  padding: 1rem 0;
}

.home .slide .content span {
  color: var(--red);
}

.home .swiper-button-next {
  top: 50%;
  left: initial;
  right: 0;
  height: 10rem;
  width: 10rem;
  font-weight: 900;
  line-height: 7rem;
}

.home .swiper-button-prev {
  top: 50%;
  left: 0;
  right: initial;
  height: 10rem;
  width: 10rem;
  font-weight: 900;
  line-height: 7rem;
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--red);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}

.home .swiper-button-prev {
  right: 7rem;
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 3rem;
}

.about .row .video {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
  flex: 1 1 41rem;
}

.about .row .video video {
  width: 100%;
}


.about .row .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
  flex: 1 1 41rem;
}

.about .row .content h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.about .row .content p {
  font-size: 1.8rem;
  color: var(--black);
  line-height: 1;
  padding: 1rem 2rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.about .box-container {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.about .box-container .box {
  text-align: center;
  padding: 3rem 1rem;
}

.about .box-container .box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about .box-container .box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.about .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}

.about .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: .5rem;
}

.facility .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.facility .box-container .box {
  cursor: initial;
}

.facility .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.facility .box-container .box .image {
  height: 35rem;
  overflow: hidden;
}

.facility .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.facility .box-container .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--white);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.facility .box-container .box .content .info {
  padding: 1rem 2rem;
}

.facility .box-container .box .content .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.facility .box-container .box .content .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.form-input .rule {
  padding: 1.5rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: var(--black);
  line-height: 2;
  font-weight: 500;
  border-radius: 10px;
}

.form-input .rule::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-input .rule span {
  color: var(--red);
  font-weight: 900;
}

.form-input .rule .list {
  margin: 15px 30px;
  font-size: 2rem;
}


.form-input .of {
  width: 100%;
  padding-left: 0;
  border-radius: 6px;
}

.form-input form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
}

.login-form .form-input input,
select {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-input input {
  width: calc(100% - 10px);
  padding: 5px;
  margin-bottom: 10px;
  background: var(--white);
  border-radius: 5px;
}

.form-input select {
  width: calc(100% - 10px);
  padding: 7px 0;
  background: var(--white);
}


/* .form-input .item:hover p,
.form-input .item:hover i,
input:hover::placeholder,
a {
  color: #095484;
} */

.form-input .item .disable {
  color: #808080;
}

.form-input .item .disable:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 3px 0 var(--btn-primary-hov);
  color: #808080;
}

.form-input .item input:hover,
.form-input .item select:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 6px 0 #095484;
  color: #095484;
}

.form-input .item {
  position: relative;
  margin: 10px 0;
}

.form-input .item i {
  right: 2%;
  top: 30px;
  z-index: 1;
}

.form-input .double-item {
  display: flex;
  flex-wrap: wrap;
}

.form-input .single {
  display: inline;
}

.form-input .single input {
  width: 100%;
}

.form-input .single-input input {
  width: 88%;
}

.form-input .single .btn-rule {
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.form-input .single-item {
  display: inline;
}

.form-input .single-item input {
  width: calc(50% - 20px);
}


.form-input .double-item .rows {
  width: 50%;
}

.form-input .double-item input {
  width: calc(100% -10px);
}

.form-input .login-form {
  position: relative;
  left: 50%;
  margin-top: 10%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60rem;
  background: var(--light);
  box-shadow: var(--box-shadow);
  padding: 5rem;
  text-align: center;
  -webkit-animation: fadeIn .2s linear;
  animation: fadeIn .2s linear;
  background-color: var(#f7f7f7);
}

.form-input .login-form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.form-input .login-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 2rem;
  color: var(--black);
  margin: .7rem 0;
  border-radius: 5px;
}

.form-input .login-form .flex a {
  font-size: 1.5rem;
  color: var(--light-color);
  font-weight: 500;
}

.form-input .login-form .flex a:hover {
  color: var(--red);
  text-decoration: underline;
}

.form-input .login-form .btn {
  padding: 1rem 3rem;
  background: var(--btn-primary);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.form-input .login-form .btn:hover {
  background-color: var(--btn-primary-hov);
}

.form-input .login-form p {
  font-size: 2rem;
  color: var(--black);
  padding-top: 1.5rem;
  font-weight: 500;
  text-align: left;
}

.form-input textarea {
  resize: none;
  overflow: auto;
  padding: 10px;
  width: 100%;
}

.form-output .form {
  position: relative;
  left: 50%;
  margin-top: 5%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60rem;
  background: var(--light-colors);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  ;
  box-shadow: var(--box-shadow);
  padding: 5rem;
  -webkit-animation: fadeIn .2s linear;
  animation: fadeIn .2s linear;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
}

.form-output .form h3 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.form-output .form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
  margin: .7rem 0;
}

.form-output .form .flex a {
  font-size: 1.5rem;
  color: var(--light-color);
}

.form-output .form .flex a:hover {
  color: var(--red);
  text-decoration: underline;
}

.form-output .form .btn {
  width: 50%;
  background-color: var(--black);
}

.form-output .form .btn:hover {
  background-color: var(--red);
}

.form-output .form p {
  font-size: 2rem;
  color: var(--black);
  line-height: 2;
  padding-top: 1rem;
}

.login .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.login .modal-content {
  font-size: 1.5rem;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 150px;
}

.login .modal-content .small-text {
  padding-left: 10px;
  font-size: 1.5rem;
}

.login .close {
  color: var(--btn-primary);
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
}

.login .close:hover,
.login .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.guide .modal-box {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.guide .modal-content {
  font-size: 1.5rem;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 1800px;
}

.guide .modal-content-annonce {
  font-size: 1.5rem;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 200px;
}


.guide .modal-content .small-text {
  padding-left: 10px;
  font-size: 1.5rem;
}

.guide .close {
  color: var(--btn-primary);
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
}

.login .close,
.login .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.guide .close-box {
  color: var(--btn-primary);
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
}

.login .close-box,
.login .close-box:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.tab .rule {
  padding: 0.2rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  margin-top: 4rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.tab .rule::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tab .rule span {
  color: var(--red);
  font-weight: 900;
}

.tab .rule .list {
  margin: 15px 30px;
  font-size: 1.5rem;
}

.tab .of {
  width: 100%;
  padding-left: 0;
  border-radius: 6px;
}

.tab form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
}

.tab input,
select {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.tab input {
  width: calc(100% - 10px);
  padding: 5px;
  background: var(--white);
}

.tab select {
  width: calc(100% - 10px);
  padding: 7px 0;
  background: var(--white);
}

.tab .item:hover p,
.tab .item:hover i,
input:hover::placeholder,
a {
  color: #095484;
}

.tab .item input:hover,
.tab .item select:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 6px 0 #095484;
  color: #095484;
}

.tab .item {
  position: relative;
  margin: 10px 0;
}

.tab .item i {
  right: 2%;
  top: 30px;
  z-index: 1;
}


.guide .rule {
  padding: 1.5rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: var(--black);
  line-height: 2;
  font-weight: 500;
  border-radius: 10px;
}

/* .guide .rule ::after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
} */

.guide .rule span {
  color: var(--red);
  font-weight: 900;
}

.guide .rule h3 {
  font-size: 2.25rem;
  font-weight: 900;
}

.guide .rule .list {
  margin: 15px 30px;
  font-size: 2rem;
}

.guide .rule .list p {
  margin-top: 5px;
}

.guide .rule .list .bullet {
  padding-left: 30px;
}

.guide .rule .list .bullet ul {
  list-style: disc;
}

.guide .rule .semi-bold {
  font-weight: 500;
}

.nav-rule {
  display: flex;
  justify-content: space-between;
}

.num-rule {
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 5px;
}

.nav-rule span {
  color: var(--red);
  font-weight: 900;
}

/* .nav-rule .btn-rule {
  padding: 1rem 5rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: 600;
}

.nav-rule .btn-rule:hover {
  background: var(--red);
  color: var(--white);
  font-weight: 600;
} */

.nav-rule .btn-rule {
  display: inline-block;
  padding: 1rem 3rem;
  background: var(--btn-primary);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: 500;
  border-radius: 5px;
}

.nav-rule .btn-rule:hover {
  background: var(--btn-primary-hov);
}


.nav-rule .btn-cancel {
  padding: 1rem 3rem;
  background: var(--btn-danger);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: 600;
  border-radius: 5px;
}

.nav-rule .btn-cancel:hover {
  color: var(--white);
  font-weight: 900;
}

.rusunku {
  background: var(--light-bg);
}

.rusunku .box-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.rusunku .container {
  width: 50%;
}

.rusunku .box {
  text-align: center;
}

.rusunku .box:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.rusunku .box .image {
  height: 80%;
  width: 100%;
  margin-bottom: -3rem;
}

.rusunku .box .image .big {
  height: 100%;
  width: 70%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.rusunku .box .image .small {
  height: 100%;
  width: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.rusunku .box .content {
  margin-left: 25%;
  margin-right: 25%;
  padding: 2rem;
  padding-top: 5rem;
  background: var(--white);
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.rusunku .box .content h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.rusunku .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.fill {
  background-color: var(--light-bg);
  width: 100%;
  height: 325px;
}

.space {
  margin-top: 25px;
}

.table-content .table .nav-rule {
  margin-top: 25px;
}

.table-content .table {
  font-size: 1.5rem;
}

.table-content .table .btn-table {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 0.6rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 5px;
  font-weight: 500;
}

.table-content .table .btn-table:hover {
  background: var(--red);
}

.table-content .table .btn-table-danger {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 0.6rem;
  background: var(--btn-primary);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 5px;
  font-weight: 500;
}

.table-content .table .btn-table-danger:hover {
  background: var(--btn-primary-hov);
}

.table-content .table .btn-table-success {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 0.6rem;
  background: var(--btn-success);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 5px;
  font-weight: 500;
}

.table-content .table .btn-table-success:hover {
  background: var(--btn-success-hov);
}

.table-content .table .btn-table-warning {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 0.6rem;
  background: var(--btn-warning);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 5px;
  font-weight: 500;
}

.table-content .table .btn-table-warning:hover {
  background: var(--btn-warning-hov);
}

.table-content .table th {
  background-color: var(--light-bg);
  font-size: 2rem;
  font-weight: 600;
}

.table-content .table td {
  font-size: 1.8rem;
  font-weight: 500;
}

.table-content .table td,
.table-content .table th {
  border: 2px solid #ddd;
  text-align: left;
}

.table-content .table table .btn-center {
  margin-left: 10%;
}

.table-content .table .table-btn {
  width: 400px;
}

.table-content .table .fit {
  width: 200px;
}

.table-content .table table {
  border-collapse: collapse;
  width: 100%;
}

.table-content .table th,
.table-content .table td {
  padding: 15px;
}

.btn-table-danger a {
  margin: 0px;
  padding: 0px;
  font-size: 1.7rem;
}

.btn-table-danger {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--btn-primary);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 5px;
  font-weight: 500;
}


.btn-table-danger:hover {
  background: var(--btn-primary-hov);
}

.btn-table-success {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--btn-success);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 5px;
  font-weight: 500;
}

.btn-table-success:hover {
  background: var(--btn-success-hov);
}

.btn-success {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--btn-success);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 5px;
  font-weight: 500;
}

.btn-success:hover {
  background: var(--btn-success-hov);
}

.btn-danger {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--btn-primary);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 5px;
  font-weight: 500;
}


.btn-danger:hover {
  background: var(--btn-primary-hov);
}

.btn-warning {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--btn-warning);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  border-radius: 5px;
  font-weight: 500;
}

.btn-warning:hover {
  background: var(--btn-warning-hov);
}

.ver .modal {
  text-align: center;
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.ver .modal-content {
  font-size: 1.5rem;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  height: 300px;
}

.ver .modal-content .small-text {
  padding-left: 10px;
  font-size: 1.5rem;
}

.ver .modal .btn {
  width: 125px;
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.ver .modal .btn:hover {
  background: var(--red);
  color: var(--black);
}

.ver .modal i {
  font-size: 5rem;
  margin: 50px 0 20px 0;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-content .rule {
  font-size: 2rem;
}

.modal-content .rule input {
  width: 100%;
  border-radius: 6px;
  padding: 2px 5px;
}

.modal-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--btn-primary);
  color: var(--white);
  cursor: pointer;
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 5px;
}

.modal-button:hover {
  background: var(--btn-primary-hov);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input[type='month'] {
  background-color: var(--btn-success);
  padding: 5px;
  height: 50px;
  width: 200px;
  font-size: 2rem;
  color: white;
  font-weight: 500;
}

.bulan p {
  font-size: 2rem;
  color: var(--black);
  font-weight: 500;
}

.disable {
  color: #808080;
}

.disable:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 3px 0 var(--btn-primary-hov);
  color: #808080;
}

.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #4070f4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 20px;
  font-weight: 400;
  ;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast .progress:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.footer {
  text-align: center;
  background-color: var(--black);
}

.footer .credit {
  font-size: 2rem;
  color: var(--white);
  text-transform: capitalize;
  margin-top: 0.5rem;
  padding-top: 0.25rem;
}

.footer .credit span {
  color: var(--red);
}

@media print {

  .heading h1 {
    margin-bottom: 0;
  }

  #print {
    display: block;
  }

  #not-print {
    display: none;
  }
}